*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
section{
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;  
}
.logo{
    margin-left:1.5rem;
    width: 50px;
    height: 25px;
}
.banner-container{
    display: flex;
    flex-direction: column;
}
.banner{
    width: 100%;
    /* height: 50vh; */
    background-image: url(../images/nice.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    display: flex;
    justify-content:end;
    align-items:center;
    flex-direction: column;
    color: #fff;
    letter-spacing: 2px;
   
}
.banner-text{
    
    text-transform: uppercase;
    color: #f1ebeb;
    text-align: left;  
    margin: 2rem;
    padding-top: 225px;
}
.banner-text h3{
    font-size: 1.2rem;
      
}
.banner-text h1{
    font-weight: bolder;
    font-size: 2.1rem; 
}
.hr{
    border-bottom: 10px solid #fff;
    margin-top: 1rem;
    
}
.banner-icons{
    display: none;
}

.big-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* How can we help you section begin */
.help-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color:#f2f2f2;
    
}
.help-section h5{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.125rem;
    margin: 1rem;
    color: #cfcccc;
}

.help-section h2{
    margin: 1rem;
    font-size: 3rem;
}

.help-section p{
    letter-spacing: 1px;
    font-weight: lighter;
    line-height: 1.5rem;
    text-align: center;
    padding: 2rem;
}

.btn{
    background-color: #e71a23;
    border-width: 1px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 600;
    border-style: solid;
    margin: 20px auto 60px;
    padding: 16px 36px;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
}
/* How can we help you section end */

/* call us section begin */

.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.plumber1-container, .plumber2-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.plumber1-container img, .plumber2-container img{
    width: 100%;
    margin: 10px;
}

.plumber1-container p{
    letter-spacing: 1px;
    font-weight: lighter;
    line-height: 1.5rem;
    text-align: justify;
    margin: 2px;
}

.plumber2-container h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.plumber2-container h4{
    color: #e71a23;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1px;
}

/* call us section end */

/* quality section start */

.quality-container{
   
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    background-color: #cfcccc;
}

.quality-container img{
    width:70%;
    margin: 30px 0px 80px 0px;
}
.quality-caption{
    margin: 25px;
}

.quality-caption h2{
    color: blue;
    font-size: 2.9rem;
    margin-bottom: 2rem;
}
.quality-hr{
    border-bottom: 10px solid #e71a23;
    width: 90%;
    margin: 20px 0;
}

.quality-caption p{
    letter-spacing: 1px;
    font-weight: lighter;
    line-height: 1.5rem;
    text-align: left;
    margin-bottom: 1rem;  
}

/* quality section end */

/* our service start */
.services-container{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}


.services-container h2{
    margin: 50px;
    font-size: 2.5rem;
    font-weight: bold;
}

.services-list{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: flex-start;
}
.services-list img{
    margin-bottom: 2rem;
    border-radius: 50%;
    border: 1px solid #e71a23;
    background-color: #e71a23;
    padding: 10px;
}
.services-list h4{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.services-list div{
    margin-bottom: 20px;
}

.services-list p{
    font-style: italic;
    line-height: 1.5rem;
    font-size: 1.2rem;
    font-weight: lighter;
}

/* our service end */

/* gallery start */

.gallery-container{
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gallery-text{
    margin: 2rem 3rem;
    color: #fff;
    width: 90%;

}
.gallery-text h5{
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: lighter;
    
}
 .gallery-text h4{
    letter-spacing: 1px;
    font-size: 2.2rem;
    font-weight: bold;
}
.gallery-text h3{
    letter-spacing: 1px;
    font-size: 3.5rem;
    font-weight: bolder;
    margin-top: -1rem;
} 
.gallery-images{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: 20px;

}
.gallery-images img{
    width: 100%;
    margin: 20px;
}

/* gallery end */
footer{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 1rem;
}
footer h1{
    margin: 1rem;
}
footer p{
    font-size: 1.3rem;
    font-weight: lighter;
    line-height: 2rem;
    letter-spacing: 1px;
    text-align: center;
    padding: 1rem;
}
.btn-transparent{
    background-color:transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: lighter;
    margin: 0px auto 60px;
    padding: 16px 36px;
    text-decoration: none;
    border: 1px solid black;
    outline-width: 0;
    cursor: pointer;
    border-radius: 3px;
    color:black;
    width: 150px;
}
.footer-btn{
    display: flex;
    flex-direction: column;
}

/* Media query for tab */

@media only screen and (min-width: 768px) {
.help-section{
    padding: 69px;
}

.contact-container{
    padding: 35px;
}

.plumber1-container p{
    margin: 14px;
}
/* .plumber2-container h3, .plumber2-container h4{
 text-align: left;
} */

}
/* Media query for Large Screen */
@media only screen and (min-width: 1024px) {
   
} 